@charset "utf-8";
/* CSS Document */
body
{
	margin:0;
}
.containt
{
	max-width:1400px;
	
}

.header
{
	background-color:#000;
}

.logo
{
	float:left;
	padding-right:30px;
	width:70px;
	height: 72px;
}

.soccial
{
	list-style-type: none;
	display: inline-block;
	margin: 5px;
	padding-left: 10%;
}

.soccial li
{
	float:left;
	padding-top:20px;
}

.soccial li a
{
	padding-right:20px;
	text-decoration:none;
	color:#FFF;
	line-height:50px;
}

